body {
  background-color: white;
  font-family: 'Open Sans';
  font-size: 14px;
}

.profileImage {
  margin: 0 auto;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.profileImage img {
  width: auto;
  height: 100%;
  margin-left: -25%;
}

.container {
  text-align: center;
  margin: auto;
  padding: 25px;
  background-color: #FFF;
}

.form {
  background-color: #FFF;
  text-align:center;
  margin: 0 auto;
  padding: 25px;
  width: 50%;
  border: 1px solid #DDD;
  border-radius: 3px;
  overflow: hidden;
}

.right {
  width: 50%;
  float: right;
  background: #FFF;
}

.left {
  width: 50%;
  float: left;
  background: #FFF;
}

.form label { 
  display: inline-block; 
  float: right;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;

}

.form input { 
  display: inline-block; 
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
}


button {
  border: 1px solid black;
  background-color: #FFF;
  padding: 3px 16px;
}

#condP, #sym {
  background-color: #FFF;
  text-align: left;
  padding-left: 15%;
  font-size: 12px;
}

#buttonid, #buttonSym {
  float: right;
  margin-right: 50%;
}
.edit_page {
    text-align: center;
}