
body, html{
    /*height: 100%;*/

}
.outer-table{
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    margin-bottom: 150px; 
    
}
.form-login{
    margin: 0 auto;
    display: table-cell;
    /*padding-bottom: 375px;*/
    vertical-align:middle;
}